<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/route-styles/create-style.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile._id.equals(user?.profile.id)) { %> 
    <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
      <h1>Edit your Profile:</h1>
      <div class="form-floating mb-3">
        <input value="<%= profile.email %>" type="email" class="form-control" id="floatingInput" name="email" >
        <label for="email">Email:</label>
      </div>
      <div class="form-floating mb-3">
        <input value="<%= profile.location %>"type="text" class="form-control" id="floatingInput" name="location" >
        <label for="location">Location:</label>
      </div>
      <div class="form-floating mb-3">
        <input value="<%= profile.industry %>" type="text" class="form-control" id="floatingInput" name="industry" >
        <label for="industry">Industry:</label>
      </div>
      <div class="form-floating mb-3">
        <input value="<%= profile.phoneNumber %>" type="tel" class="form-control" id="floatingInput" name="phoneNumber" >
        <label for="phoneNumber">Phone Number:</label>
      </div>
      <div class="form-floating mb-3">
        <input value="<%= profile.website %>" type="text" class="form-control" id="floatingInput" name="website" >
        <label for="website">Website:</label>
      </div>
      <div class="form-floating mb-3">
        <input value="<%= profile.company %>" type="text" class="form-control" id="floatingInput" name="company" >
        <label for="Company">Company:</label>
      </div>
      <div class="form-floating mb-3" >
        <textarea class="form-control" id="floatingInput" name="additionalInfo"><%= profile.additionalInfo %></textarea>
        <label for="additionalInfo">Additional Information:</label>
      </div>
      <label class="select-label">Are you a Recruiter?</label>
      <select name="hiringStatus" id="">
          <option value="">No</option>
          <option class="recruiter-opt" value="Recruiter">Yes</option>
      </select>
      <label class="select-label">Willing to Relocate?</label>
      <select name="relocation" id="">
          <option value="">Select One</option>
          <option class="yes-relocation" value="Yes">Yes</option>
          <option class="no-relocation" value="No">No</option>
      </select>
      <div class="btn-div">
        <button class="btn btn-lg btn-secondary" type="submit">Submit</button>
      </div>
      </form>
      <% } %> 
</main>

<%- include('../partials/footer') %>