<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/route-styles/index-style.css">
<%- include('../partials/nav') %>

<main class="main-index">
    <% let profileInterval = 0 %> 
    <% if (profiles.length > 0) { %>
        <% profiles.forEach(prof => { %>
            <% if (profileInterval % 2 === 0) { %>
                <div class="row"> 
            <% } %>
            <div class="col-md-6 p-0">
                <div class="card bg-dark card-dark">
                    <div class = "card-body">
                    <a href="/profiles/<%= prof._id %>">
                  <div class="col-3">
                      <img src="<%= prof.avatar %>" alt="" class="img-fluid rounded-circle">
                  </div>
                  <div class="col-12">
                              <h2 class="card-title"><%= prof.name  %> </h2>
                          </div>
                      </a>
                    </div>
                  </div>
            </div>
        <% if (profileInterval % 2 === 1) { %>
        </div> 
        <% } %>
        <% profileInterval ++ %> 
    <% }) %>
<% } %>
</main>

<%- include('../partials/footer') %>
