<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="content">
        <% if (jobs.length > 0) { %>
            <% jobs.forEach(job => { %>
                <a href="/jobs/<%= job._id %>">
                <div class = "jobs">
                    <h2><%=job.company  %> </h2>
                    <h3><%=job.title %> </h3>
                </div>
                </a>
            <% }) %>
        <% } else { %>
            <h1 class="no-jobs-available">There are no Jobs Available Right Now! Check Back Later!</h1>
        <% } %> 
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>