<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/route-styles/show-style.css">
<%- include('../partials/nav') %>
<div class="modal" id="addReview" tabindex="-1" aria-labelledby="addReview" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addReview">Add Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="submit-form" action="/companies/<%= company._id %>/reviews" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="title" required />
                <label for="title">Review title:</label>
            </div>
            <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
                <label for="content">Review Details:</label>
            </div>
              <div class="form-floating row mb-3">
                  <div class="col-4">
                      <label for="title">Rating:</label>
                  </div>
                  <div class="col-8">
                      <select name="rating">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Review</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<main>
    <div class="text-center floating-container">
        <h1 class="my-3"><%= company.companyName %></h1>
        <h2 class="my-3">Industry: <%= company.industry %> </h2>
        <h2 class="my-3">Mission Statement: <%= company.missionStatement %> </h2>
        <h3 class="my-3">Located in: <%= company.location %> </h3>
        <h3 class="my-3">Current CEO: <%= company.ceo %> </h3>
        <h3 class="my-3">Founded in: <%= company.founded %> </h3>
        <h3 class="mt-3">Description of Company:</h3>
        <p class="job-desc mb-5"><%= company.description %> </p>
    </div>
    <% if (company.jobs.length) { %>
        <h3>Jobs Available at <%= company.companyName %>:</h3>
            <% company.jobs.map(job => { %>
                <a href="/jobs/<%= job._id %>"><h5><%= job.title %></h5></a>
                <% }) %> 
        <% } %>

        <h2>Company Reviews:</h2>
        <% if (company.reviews.length === 0) { %> 
            <h4 class="mb-5">There are no reviews for this company yet!</h4>
        <% } else { %> 
           <% company.reviews.map(review => { %>
                <h3><%= review.title %> </h3>
                <h4>Rating: <%= review.rating %></h4>
                <h5><%= review.content %></h5>
                <h5><a href="/profiles/<%= review.userPosted._id %>"><%= review.userPosted.name %></a></h5>
           <% }) %> 
        <% } %> 
        <% if (user) { %>
            <div class="row">
                <div class="col-10">
                    <h2 class="mt-5">Have you worked for <%= company.companyName %>? Leave a Review!</h2>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#addReview">
                        Add Review
                    </button>
                </div>
            </div>
        <% } %>
        <% if (company.userPosted.equals(user?.profile._id)) { %>
            <div class="floating-container row ">
                <form class="col-6 floating-container justify-content-center" action="/companies/<%= company._id %>/edit" method="GET">
                <button class="btn-lg" type="submit">Update Company</button>
                </form>
                <form class="floating-container col-6 justify-content-center"method="POST" action="/companies/<%= company._id %>?_method=DELETE">
                <button class="btn-lg" type="submit">Remove Company</button>
                </form>
            </div>
        <% } %>
    </div>
</main>

<%- include('../partials/footer') %>