<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/jobs/show-style.css">
<%- include('../partials/nav') %>

<main>
    <div class="floating-container">
        <h1><%= job.company %></h1>
        <h2><%= job.title %> </h2>
        <h3>Number of Postions Available: <%= job.numOfPositions %> </h3>
        <p class="job-desc"><%= job.description %> </p>
        <a target="_blank" href="<%= job.applicationLink %> "><h3 class="mb-5">You can apply here!</h3></a>
        <% if (job.userPosted.equals(user?.profile._id)) { %>
            <div class="floating-container row ">
                <form class="col-6 floating-container justify-content-center" action="/jobs/<%= job._id %>/edit" method="GET">
                <button class="btn-lg" type="submit">Update Job</button>
                </form>
                <form class="floating-container col-6 justify-content-center"method="POST" action="/jobs/<%= job._id %>?_method=DELETE">
                <button class="btn-lg" type="submit">Delete Job</button>
                </form>
            </div>
        <% } %>
    </div>
</main>

<%- include('../partials/footer') %>