<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/jobs/show-style.css">
<%- include('../partials/nav') %>

<div class="modal" id="addSkill" tabindex="-1" aria-labelledby="addSkill" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSkill">Add Skill</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="submit-form" action="/users/<%= profile._id %>/skills" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="name" required>
                <label for="name">Skill Name:</label>
              </div>
              <div class="form-floating row mb-3">
                  <div class="col-4">
                      <label for="title">Skill Profeciency:</label>
                  </div>
                  <div class="col-8">
                      <select name="profeciency">
                          <option value="">Select One</option>
                          <option value=">1 year">>1 year</option>
                          <option value="1-5 years">1-5 years</option>
                          <option value="5-10 years">5-10 years</option>
                          <option value="10+ years">10+ years</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Skill</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal" id="addEducation" tabindex="-1" aria-labelledby="addEducation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEducation">Add Education</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="submit-form" action="/users/<%= profile._id %>/education" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="school" required>
                <label for="school">School Name:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="month" class="form-control" id="floatingInput" name="start" required>
                <label for="start">Started:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="month" class="form-control" id="floatingInput" name="end" required>
                <label for="end">Graduation:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="fieldOfStudy" required>
                <label for="fieldOfStudy">Field Of Study:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="degree" required>
                <label for="degree">Degree:</label>
              </div>
              <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="floatingInput" name="description" required></textarea>
                <label for="description">Description:</label>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Education</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal" id="addExperience" tabindex="-1" aria-labelledby="addExperience" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExperience">Add Experience</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="submit-form" action="/users/<%= profile._id %>/experiences" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="company" required>
                <label for="company">Company:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="position" required>
                <label for="position">Position:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="month" class="form-control" id="floatingInput" name="start" required>
                <label for="start">Start Date:</label>
              </div>
              <div class="form-floating mb-3">
                <input type="month" class="form-control" id="floatingInput" name="end" required>
                <label for="end">End Date:</label>
              </div>
              <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="floatingInput" name="description" required></textarea>
                <label for="description">Description:</label>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Experience</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<main>
    <div class="floating-container">
        <img src="<%= profile.avatar %> " alt="...">
        <h1><%= profile.name %></h1>
        <h3>Email: <a target="_blank" href="mailto:<%= userProfile.email %>"><%= userProfile.email %></a></h3>
        <% if (profile.website) { %>
            <h4>Website: <a target="_blank" href="<%= profile.website %>"><%= profile.website %></a></h4>
        <% } %>
        <% if (profile.hiringStatus) { %>
            <h4>Hiring Status: <%= profile.hiringStatus %></h4>
        <% } %>
        <% if (profile.location) { %>
            <h4>Location: <%= profile.location %></h4>
        <% } %>
        <% if (profile.industry) { %>
            <h4>Industry: <%= profile.industry %></h4>
        <% } %>
        <% if (profile.phoneNumber) { %>
            <h4>Phone Number: <%= profile.phoneNumber %></h4>
        <% } %>
        <% if (profile.relocation) { %>
            <h4>Willing to Relocate: <%= profile.relocation %></h4>
        <% } %>
        <% if (profile.company) { %>
            <h4>Company: <%= profile.company %></h4>
        <% } %>
        <% if (profile.additionalInfo) { %>
            <h4>Additional Information: <%= profile.additionalInfo %></h4>
        <% } %>
        <% if (profile.skills.length) { %>
            <h4>Skills:</h4>
            <% profile.skills.forEach(skill => { %>
                <div class="row">
                    <div class="col-10">
                        <p><%= skill.name %>: <%= skill.profeciency %>  </p>
                    </div>
                    <% if (profile._id.equals(user?.profile._id)) { %>
                        <div class="col-2">
                        <form action="/users/<%= user._id %>/skills/<%= skill._id %>?_method=DELETE" method="post">
                            <button type="submit" class="button btn-danger">
                                X
                            </button>
                            </form> 
                        </div>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
        <% if (profile.education.length) { %>
            <h4>Education:</h4>
            <% profile.education.forEach(ed => { %>
                <div class="row">
                    <div class="col-10">
                        <h6><%= ed.school %></h6>
                        <p>Degree: <%= ed.degree %> </p>
                        <p>Field of Study: <%= ed.fieldOfStudy %></p>
                        <p>Duration: <%= ed.start %> to <%= ed.end %> </p>
                        <p>Description: <%= ed.description %> </p>
                    </div>
                    <% if (profile._id.equals(user?.profile._id)) { %>
                        <div class="col-2">
                            <form action="/users/<%= user._id %>/education/<%= ed._id %>?_method=DELETE" method="post">
                            <button type="submit" class="button btn-danger">
                                X
                            </button>
                            </form>
                        </div>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
        <% if (profile.experiences.length) { %>
            <h4>Experiences:</h4>
            <% profile.experiences.forEach(exp => { %>
                <div class="row">
                    <div class="col-10">
                        <h6><%= exp.company %> as a <%= exp.position %></h6>
                        <p>Duration: <%= exp.start %> to <%= exp.end %> </p>
                        <p>Description: <%= exp.description %> </p>
                    </div>
                    <% if (profile._id.equals(user?.profile._id)) { %>
                        <div class="col-2">
                        <form action="/users/<%= user._id %>/experiences/<%= exp._id %>?_method=DELETE" method="post">
                            <button type="submit" class="button btn-danger">
                                X
                            </button>
                            </form> 
                        </div>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
        <% if (profile._id.equals(user?.profile._id)) {%> 
        <div class="d-flex flex-row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSkill">
                    Add Skill
                </button>          
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEducation">
                    Add Education
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExperience">
                    Add Experience
                </button>
            </div>
            <div class="col-3">
                <form class="floating-container justify-content-center" action="/users/<%= user._id %>/edit" method="GET">
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                </form>               
            </div>
        </div>
        <% } %> 
        <% if (profile.hiringStatus === "Hiring") { %>
            <h3>Jobs Posted by the User:</h3>
            <% profile.jobsPosted.map(job => { %>
                <a href="/jobs/<%= job._id %>"><h5><%= job.title %> </h5></a>
            <% }) %> 
        <% } %>
    </div>
</main>

<%- include('../partials/footer') %>